$background-image: url('../assets/fistbump.webp');
$background-image-2: url('https://le-cdn.website-editor.net/3852c5ed1f134e4188234332bc481e24/dms3rep/multi/opt/onnect-Your-Soul-Cha%CC%82tillon-006-640w.jpeg');
$background-image-3: url('../assets/key2.webp');

$color-title: #1D4851;