.emailbox-wrapper {
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}

.emailbox-title {
  font-size: 20px;
  color: #1D4851;
  font-family: "Poppins";
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.emailbox-title-mail {
  font-size: 20px;
  color: rgb(226, 183, 174);
  font-family: "Poppins"
}

.button-div {
  @media screen and (min-width: 768px) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}