$background-image: url('../assets/fistbump.webp');
$background-image-2: url('https://le-cdn.website-editor.net/3852c5ed1f134e4188234332bc481e24/dms3rep/multi/opt/onnect-Your-Soul-Cha%CC%82tillon-006-640w.jpeg');

.home-wrapper {
  text-align: center;
}

.citation-wrapper {
  background-image: $background-image;
  background-size: 100%;
  text-align: center;
}

.citation-1 {
  color: #1D4851;
  font-size: 24px;
  font-family: "Poppins";
}

.citation-2 {
  font-size: 24px;
  font-family: "Poppins";
  color: #1D4851;
}

.oiseaucage {
  opacity: 1;
  width: 100%;
  background-position: center center;
}

.citation-3-wrapper {
  transition: none 0s ease 0s;
  text-align: left;
  display: block;
}

.citation-3 {
  border: 0 solid #333;
  font-size: 13px;
  font-weight: bold;
  font-family: "Dancing Script";
  display: initial;
  font-style: italic;
}

.title-1 {
  color: #1D4851;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 700;
}

.citation-4-1 {
  color: #373737;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 2;
}

.citation-4-1-wrapper {
  text-align: left;
  display: block;
}

.citation-4-2 {
  color: #373737;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 2;
}

.citation-4-2-wrapper {
  text-align: left;
  display: block;
}

.citation-4-3 {
  color: #373737;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 2;
}

.citation-4-3-wrapper {
  text-align: left;
  display: block;
}

.citation-4-4 {
  color: #373737;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 2;
}

.citation-4-4-wrapper {
  text-align: left;
  display: block;
}

.list {
  color: #373737;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 2;
}

.citation-5-wrapper {
  text-align: left;
  display: block;
}

.citation-5 {
  color: #373737;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 2;
}

.citation-6-wrapper {
  text-align: left;
  display: block;
}

.citation-6 {
  color: #373737;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 2;
}

.citation-7-div-wrapper {
  background-image: $background-image-2;
}

.citation-7-title-wrapper {
  font-size: 24px;
  color: #1D4851;
  font-family: "Poppins";
}